# Go
/dist/
cmd/server/frontend/static/main.css
*.exe
*.test
*.out
vendor/
cloudzilla.db
cloudzilla.db-shm
cloudzilla.db-wal
git-repos/
/server
/cloudzilla

# Tailwind
bin/tailwindcss*

# Config
.env
*.local.yaml

# OS
.DS_Store
Thumbs.db
