package fragments

import "github.com/mkappworks-dev/cloudzilla-app/internal/view/components"

templ FileTreeChildren(nodes []components.TreeNode, depth int) {
	@components.FileTreeItems(nodes, depth)
}
