package fragments

import (
	"github.com/mkappworks/cloudzilla/internal/view"
	"github.com/mkappworks/cloudzilla/internal/view/components"
)

templ IssueLabels(data view.IssueLabelSidebarData) {
	@components.LabelSidebar(data.Owner, data.RepoName, data.IssueNumber, "issues", data.Labels, data.AllLabels, data.CanWrite)
}
