package fragments

import (
	"github.com/mkappworks-dev/cloudzilla-app/internal/view"
	"github.com/mkappworks-dev/cloudzilla-app/internal/view/components"
)

templ PullAssignees(data view.PullAssigneeSidebarData) {
	@components.AssigneeSidebar(data.Owner, data.RepoName, data.PullNumber, "pulls", data.Assignees, data.CanWrite)
}
