package fragments

import (
	"github.com/mkappworks-dev/cloudzilla-app/internal/view"
	"github.com/mkappworks-dev/cloudzilla-app/internal/view/components"
)

templ PullLabels(data view.PullLabelSidebarData) {
	@components.LabelSidebar(data.Owner, data.RepoName, data.PullNumber, "pulls", data.Labels, data.AllLabels, data.CanWrite)
}
